@charset "UTF-8";

/*!
 * Main CSS
 * By nachocismondi.com
 * Cismondi Holdings
 */

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Inter', sans-serif;
}

strong {
    font-weight: 900;
}

body {
    background-color: #000 !important;
}

/*! Menu style */
.navbar {
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    transform: translate3d(0, 0, 0);
    border: 1px solid rgba(255, 255, 255, .1);
    background-color: rgba(0, 0, 0, .7);
}

.chip-available {
    background: rgba(44, 44, 46, .4);
    border: 1px solid rgba(32, 166, 10, .2);
    -webkit-box-shadow: 0px 0px 13px 0px rgba(32, 166, 10, .3);
    -moz-box-shadow: 0px 0px 13px 0px rgba(32, 166, 10, .3);
    box-shadow: 0px 0px 13px 0px rgba(32, 166, 10, .3);
    font-size: 0.80em !important;
    color: #bebebe !important;
    font-weight: 500 !important;
}

.chip-main {
    background: rgba(52, 52, 52, .6);
    border: 1px solid rgba(152, 152, 152, .15);
    color: #d8d8d8 !important;
    font-weight: 500 !important;
    transition: background-color .3s ease-in-out;
}

.chip-main:hover {
    background: rgba(152, 152, 152, .4);
    transition: background-color .3s ease-in-out;
}

.chip-secondary {
    background: rgba(52, 52, 52, .6);
    border: 1px solid rgba(152, 152, 152, .15);
    color: #d8d8d8 !important;
    font-weight: 500 !important;
}

header h1 {
    color: #f4f4f5;
}

header p {
    color: #cacaca;
    line-height: 1.6;
}

.button-primary {
    background-color: #ef801a;
    border: 1px solid rgba(183, 100, 24, .4);
    color: #000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    font-weight: 600;

  /*! Shadow style box-shadow: inset 0px 4px 4px 0px hsla(0,0%,100%,.2);n*/

    transition: color .8s ease-in-out,
                background-color .8s ease-in-out,
                border-color .8s ease-in-out,
                box-shadow .8s ease-in-out;
}


.button-primary:hover {
    background-color: #ff8b21;
    border: 1px solid rgba(183, 100, 24, .4);
    color: #000;
    text-decoration: none;
    box-shadow: inset 0px 4px 4px 0px hsla(0,0%,100%,.2);

    box-shadow: 0px 0px 32px 0px rgba(245, 156, 76, .5);
    -webkit-box-shadow: 0px 0px 32px 0px rgba(245, 156, 76, .5);
    -moz-box-shadow: 0px 0px 32px 0px rgba(245, 156, 76, .5);

    transition: color .3s ease-in-out,
                background-color .3s ease-in-out,
                border-color .3s ease-in-out,
                box-shadow .3s ease-in-out;          
}

.button-secondary {
    background-color: none;
    border: 1px solid #fbfbfb;
    color: #fbfbfb;
    font-weight: 600;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 8px;
    transition: color .8s ease-in-out,
        background-color .8s ease-in-out,
        border-color .8s ease-in-out,
        box-shadow .8s ease-in-out;
}

.button-secondary:hover {
    background-color: #fbfbfb;
    border: 1px solid #f1f1f1;
    color: #000;
    font-weight: 600;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 8px;
    transition: color .3s ease-in-out,
        background-color .3s ease-in-out,
        border-color .3s ease-in-out,
        box-shadow .3s ease-in-out;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(152, 152, 152, .7);
    -moz-box-shadow: 0px 0px 20px 0px rgba(152, 152, 152, .7);
    box-shadow: 0px 0px 20px 0px rgba(152, 152, 152, .7);
}

.button-tertiary:hover {
    color: #212529 !important;
}

.work a {
    text-decoration: none;
}

.card-portfolio-one {
    background-color: #1e1e22;
    border: 1px solid #2a2a2b;
    transition: background-color .3s ease-in-out,
        box-shadow .8s ease-in-out,
        transform .8s ease-in-out,
        border .8s ease-in-out;
}

.card-portfolio-one:hover {
    background-color: #202225;
    border: 1px solid rgba(82, 44, 103, .3);
    transform: translate(0, -10px);
    transition: background-color .3s ease-in-out,
        box-shadow .3s ease-in-out,
        transform .3s ease-in-out,
        border .3s ease-in-out;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(179, 57, 246, .2);
    -moz-box-shadow: 0px 0px 20px 0px rgba(179, 57, 246, .2);
    box-shadow: 0px 0px 32px 8px rgba(179, 57, 246, .2);
}

.card-portfolio-two {
    background-color: #1e1e22;
    border: 1px solid #2a2a2b;
    transition: background-color .3s ease-in-out,
        box-shadow .8s ease-in-out,
        transform .8s ease-in-out,
        border .8s ease-in-out;
}

.card-portfolio-two:hover {
    background-color: #202225;
    border: 1px solid rgba(116, 34, 23, .2);
    transform: translate(0, -10px);
    transition: background-color .3s ease-in-out,
        box-shadow .3s ease-in-out,
        transform .3s ease-in-out,
        border .3s ease-in-out;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(225, 53, 29, .2);
    -moz-box-shadow: 0px 0px 20px 0px rgba(225, 53, 29, .2);
    box-shadow: 0px 0px 32px 8px rgba(225, 53, 29, .2);
}

.card-portfolio-three {
    background-color: #1e1e22;
    border: 1px solid #2a2a2b;
    transition: background-color .3s ease-in-out,
        box-shadow .8s ease-in-out,
        transform .8s ease-in-out,
        border .8s ease-in-out;
}

.card-portfolio-three:hover {
    background-color: #202225;
    border: 1px solid rgba(20, 67, 109, .3);
    transform: translate(0, -10px);
    transition: background-color .3s ease-in-out,
        box-shadow .3s ease-in-out,
        transform .3s ease-in-out,
        border .3s ease-in-out;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(10, 175, 152, .2);
    -moz-box-shadow: 0px 0px 20px 0px rgba(199, 175, 152, .2);
    box-shadow: 0px 0px 32px 8px rgb(44, 144, 218, .2);
}

.social-icons a {
    color: #858585 !important;
    font-size: 1.5rem;
    transition: color .8s ease-in-out;
}

.social-icons a:hover {
    color: #f1f1f1 !important;
    font-size: 1.5rem;
    transition: color .3s ease-in-out;
}


/*! Blog list */
.first-post a {
    background-color: #161617 !important;
    transition: background-color .3s ease-in-out;
}

.first-post a:hover {
    background-color: #202023 !important;
    transition: background-color .3s ease-in-out;
}

.first-post img {
width: 64px; 
height: 64px; 
object-fit: cover;
object-position: 50% 25%; 
}

.list-post a {
    background-color: #000 !important;
    transition: background-color .3s ease-in-out;
}

.list-post a:hover {
    background-color: #202023 !important;
    transition: background-color .3s ease-in-out;
}

.list-post img {
width: 64px; 
height: 64px; 
object-fit: cover;
object-position: 50% 25%; 
}


/*! Blog post */
.rounded-img {
border-radius: 15px;
}

.highlight {
background-color: #ffcc00;
font-weight: bold;
}

.post-content {
padding: 20px;
}

.contact-cta {
background: rgb(3,1,0);
background: linear-gradient(180deg, rgba(3,1,0,1) 1%, rgba(145,77,14,.8) 100%);
box-shadow: 0px 16px 32px 0px rgba(245, 156, 76, .2);
-webkit-box-shadow: 0px 16px 32px 0px rgba(245, 156, 76, .2);
-moz-box-shadow: 0px 16px 32px 0px rgba(245, 156, 76, .2);
}

